@font-face {
    font-family: "sourcehansans";
    src:
        url("./assets/fonts/SourceHanSansSC-Bold-Min.ttf");
    font-weight: bold;
    font-style: normal;
}

html, body {
    overflow: hidden;
    height: 100%; 
}

.action-item-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-item-content > .action-title {
    display: flex;
    justify-content: space-between;
}
